.nav {
  grid-area: n;
  background-color: rgb(67, 0, 115);
  border-radius: 20px;
  padding-top: 15px
}
.item a {
  margin: 20px;
  color: white;
  text-decoration: none;
}

a.active{
  color: rgb(171, 12, 239);
}

a:hover {
  color: aqua;
}
